extends ../layouts/account.pug

block main
  .form-account
    h2.inner-title Đăng nhập
    p.inner-desc Vui lòng nhập email và mật khẩu để tiếp tục
    
    form.inner-form#login-form
      .inner-group
        label.inner-label(for="email") Email
        input.inner-control(
          type="email"
          name="email"
          id="email"
          placeholder="Ví dụ: levana@gmail.com"
        )

      .inner-group
        label.inner-label(for="password") Mật khẩu
        input.inner-control(
          type="password"
          name="password"
          id="password"
        )

      .inner-meta
        .inner-confirm
          input.inner-check(
            type="checkbox"
            name="rememberPassword"
            id="remember-password"
          )
          label.inner-label(for="remember-password") Nhớ mật khẩu

        a.inner-forgot-password(
          href=`/${pathAdmin}/account/forgot-password`
        ) Quên mật khẩu?

      button.inner-button(type="submit") Đăng Nhập

    // ====== THÊM GOOGLE LOGIN ======
    

    .google-login
      #g_id_onload(
        data-client_id="169562147948-00l8ffakucol8f0kre6mhl7h093ktt36.apps.googleusercontent.com"
        data-callback="handleCredentialResponse"
      )
      .g_id_signin
  // ===== SCRIPT GOOGLE =====
  script(src="https://accounts.google.com/gsi/client" async defer)
